<launch>
    <group ns="kinect2_victor_head/qhd">
        <arg name="do_republish_pointcloud" default="true"/>
        <node name="ycb_segmentation_node" pkg="object_segmentation"
              type="republish_segmented_kinect_img.py"
              output="screen"/>
        <node name="segmented_pointcloud_republisher" pkg="object_segmentation"
              type="republish_segmented_pointcloud.py" if="$(arg do_republish_pointcloud)"
              args="--objects 1 2"
              output="screen"/>
    </group>
</launch>